<% if flash[:notice] %>
    <div class="alert alert-success" role="alert"> 
        <%= flash[:notice] %>
    </div>
<% end %>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td>Título</td>
            <td>URL</td>
            <td>Categoria</td>
            <td colspan="2">
        </tr>
    </thead>
    <tbody>
        <%= render @videos %>
    </tbody>
</table>
