
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td>Título</td>
            <td>URL</td>
        </tr>
    </thead>
    <tbody>
        <% @videos.each do |video| %>
        <tr>
            <td><%= video.title %></td>
            <td><%= video.url %></td>
        </tr>
        <% end %>
    </tbody>
</table>
